@import "./_var.scss";
@import "./_mixins.scss";
@import "./_base.scss";
@import "./_common.scss";
@import "./_btn.scss";
@import "./_color.scss";
@import "./_breadClumb.scss";
@import "./_header.scss";
@import "./_footer.scss";
@import "./_swiper.scss";
@import "./_nav.scss";

@import "./_index.scss";
@import "./_teachingSystem.scss";
@import "./_teachingStyle.scss";
